{% extends "base.html" %}

{% block message %}
{% with messages = get_flashed_messages(with_categories=true) %}

{% if messages %}
    <p>{{messages[0][1]}}</p>
{% endif %}
{% endwith %}
{% endblock message %}


{% block contents %}
    <p>
        <form action="{{url_for("login_done")}}" method="get">
            <p>ID :</p>
            <input type="text" name="id" id="id">
            <p>Password :</p>
            <input type="password" name="pwd" id="pwd">
            <button type="submit">로그인</button>
        </form>
    </p>
    <p>자동가입이 인증 프로그램은 아래에 있어요 ● __ ●</p><a href="{{url_for('download_verify')}}">다운로드</a>
{% endblock contents %}